<nav class="navbar fixed-bottom navbar-light bg-dark">
    <a href="#">Developed and Designed by Eldor Togaymurotov</a>
    <p><a href="https://www.facebook.com/eldor.togaymurotov?ref=bookmarks">
        <i class="fa fa-facebook-official"></i>
    </a>
    <a href="https://www.instagram.com/e_abdimuminovich/">
        <i class="fa fa-instagram"></i>
    </a>
    <a href="https://twitter.com/etogaymurotov">
        <i class="fa fa-twitter"></i>
    </a></p>
</nav>