<div class="container">
    <h1>Education</h1>
    <ul class="list-unstyled">
        <li class="media">
            <i class="fa fa-graduation-cap"></i>
            <div class="media-body">
                <h5 class="mt-0 mb-1">Codify Academy</h5>
               <p>Front-End Web Development</p>
               <p>2015 -2016</p>
               <small>San Francisco, CA</small>
            </div>
        </li>
        <hr>
        <li class="media my-4">
           <i class="fa fa-graduation-cap"></i>
            <div class="media-body">
                <h5 class="mt-0 mb-1">San Francisco State University</h5>
                <p>MBA</p>
                <p>2012 - 2014</p>
                <small>San Francisco, CA</small>
            </div>
        </li>
        <hr>
        <li class="media">
            <i class="fa fa-graduation-cap"></i>
            <div class="media-body">
                <h5 class="mt-0 mb-1">UWED</h5>
                <p>Law</p>
                <p>2007 - 2012</p>
                <small>Tashkent, Uzbekistan</small>
            </div>
        </li>
    </ul>
</div>