<div class="container">
    <h1>Portfolio Page</h1>
    <div class="row">
        <div class="col-sm-4">
            <img src="/images/bookFinder.jpg" class="img-responsive">
        </div>
        <div class="col-sm-4">
            <img src="/images/e-commerce.jpg" class="img-responsive">
        </div>
        <div class="col-sm-4">
            <img src="/images/website.jpg" class="img-responsive">
        </div>
        <div class="col-sm-4">
            <img src="/images/zodiac.jpg" class="img-responsive">
        </div>
    </div>
</div>